.article {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #365370;
  font-family: "BoosterNextFY", sans-serif;
  font-weight: 700;
}

.article .intro,
.article .body {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #34495e;
  font-family: "BoosterNextFY", sans-serif;
  font-weight: 300;
}

.article_image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  background-color: #c477c5;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
}
