.app {
  display: flex;
  height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.main-content {
  margin-left: var(--twn-menuWidth);
  transition: margin-left 0.25s ease-out;
}

.closed {
  margin-left: 0;
}

header, .sidebar, .main-content {
  font-family: var(--twn-font);
}